body {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
}

.styledSection {
  width: 55%;
  margin: auto;
  display: grid;
  align-items: center;
  margin-top: 5vh;
  gap: 8px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

input {
  margin: 8px;
  height: 32px;
  padding-left: 2px;
}

input:focus {
  outline: none;
  border: solid 2px rgba(33, 33, 33, 0.6);
}

input[type='submit'],
#clickCount {
  width: 50%;
  margin: auto;
  height: 32px;
  background-color: rgba(33, 33, 33);
  color: white;
  transition: all 0.2s ease;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

input[type='submit']:hover,
#clickCount:hover {
  background-color: rgba(233, 233, 233);
  color: black;
}

select {
  height: 32px;
}

.title {
  text-align: center;
}

#userMessage {
  text-align: center;
  padding: 8px;
}
